target/
.settings/
.project
.classpath
.metadata/
*.class
*.iml
*.ipr
*.iws
*.pdf
*.png
.idea/
git.properties
molgenis-compute-core/test-output
data/
test-output/
nbactions.xml
*~

eqtl-mapping-pipeline/nbactions-testAse.xml
eqtl-mapping-pipeline/nbactions-testAse.xml
/MiscTests/build/
/MiscTests/nbproject/private/
*.zip
